<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wm.lejia.db.mapper.CityMapper" >
  <resultMap id="BaseResultMap" type="com.wm.lejia.common.pojo.entity.City" >
    <id column="city_id" property="cityId" jdbcType="INTEGER" />
    <result column="city_name" property="cityName" jdbcType="VARCHAR" />
    <result column="city_code" property="cityCode" jdbcType="VARCHAR" />
    <result column="province_id" property="provinceId" jdbcType="INTEGER" />
    <result column="is_deleted" property="isDeleted" jdbcType="INTEGER" />
    <result column="is_up" property="isUp" jdbcType="INTEGER" />
    <result column="is_default" property="isDefault" jdbcType="INTEGER" />
    <result column="created_by" property="createdBy" jdbcType="INTEGER" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="updated_by" property="updatedBy" jdbcType="INTEGER" />
    <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    city_id, city_name, city_code, province_id, is_deleted, is_up, is_default, created_by, 
    created_time, updated_by, updated_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from city
    where city_id = #{cityId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from city
    where city_id = #{cityId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wm.lejia.common.pojo.entity.City" >
    insert into city (city_id, city_name, city_code, 
      province_id, is_deleted, is_up, 
      is_default, created_by, created_time, 
      updated_by, updated_time)
    values (#{cityId,jdbcType=INTEGER}, #{cityName,jdbcType=VARCHAR}, #{cityCode,jdbcType=VARCHAR}, 
      #{provinceId,jdbcType=INTEGER}, #{isDeleted,jdbcType=INTEGER}, #{isUp,jdbcType=INTEGER}, 
      #{isDefault,jdbcType=INTEGER}, #{createdBy,jdbcType=INTEGER}, #{createdTime,jdbcType=TIMESTAMP}, 
      #{updatedBy,jdbcType=INTEGER}, #{updatedTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.wm.lejia.common.pojo.entity.City" >
    <selectKey keyColumn="city_id" keyProperty="cityId" order="AFTER" resultType="java.lang.Integer">
    	SELECT LAST_INSERT_ID()
    </selectKey>
    insert into city
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cityId != null" >
        city_id,
      </if>
      <if test="cityName != null" >
        city_name,
      </if>
      <if test="cityCode != null" >
        city_code,
      </if>
      <if test="provinceId != null" >
        province_id,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="isUp != null" >
        is_up,
      </if>
      <if test="isDefault != null" >
        is_default,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="createdTime != null" >
        created_time,
      </if>
      <if test="updatedBy != null" >
        updated_by,
      </if>
      <if test="updatedTime != null" >
        updated_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cityId != null" >
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="cityName != null" >
        #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="cityCode != null" >
        #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="provinceId != null" >
        #{provinceId,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="isUp != null" >
        #{isUp,jdbcType=INTEGER},
      </if>
      <if test="isDefault != null" >
        #{isDefault,jdbcType=INTEGER},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=INTEGER},
      </if>
      <if test="createdTime != null" >
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        #{updatedBy,jdbcType=INTEGER},
      </if>
      <if test="updatedTime != null" >
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wm.lejia.common.pojo.entity.City" >
    update city
    <set >
      <if test="cityName != null" >
        city_name = #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="cityCode != null" >
        city_code = #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="provinceId != null" >
        province_id = #{provinceId,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="isUp != null" >
        is_up = #{isUp,jdbcType=INTEGER},
      </if>
      <if test="isDefault != null" >
        is_default = #{isDefault,jdbcType=INTEGER},
      </if>
      <if test="createdBy != null" >
        created_by = #{createdBy,jdbcType=INTEGER},
      </if>
      <if test="createdTime != null" >
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        updated_by = #{updatedBy,jdbcType=INTEGER},
      </if>
      <if test="updatedTime != null" >
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where city_id = #{cityId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wm.lejia.common.pojo.entity.City" >
    update city
    set city_name = #{cityName,jdbcType=VARCHAR},
      city_code = #{cityCode,jdbcType=VARCHAR},
      province_id = #{provinceId,jdbcType=INTEGER},
      is_deleted = #{isDeleted,jdbcType=INTEGER},
      is_up = #{isUp,jdbcType=INTEGER},
      is_default = #{isDefault,jdbcType=INTEGER},
      created_by = #{createdBy,jdbcType=INTEGER},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      updated_by = #{updatedBy,jdbcType=INTEGER},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP}
    where city_id = #{cityId,jdbcType=INTEGER}
  </update>
  
  <!-- tx 18/4/20 -->
  <select id="getCity" resultMap="BaseResultMap" parameterType="com.wm.lejia.common.pojo.entity.City">
  	SELECT * FROM city
  	WHERE 1=1 
  	<if test="cityName != null">
  		AND city_name = #{cityName,jdbcType=VARCHAR}
  	</if>
  	<if test="isDeleted != null">
  		AND is_deleted = #{isDeleted,jdbcType=INTEGER}
  	</if>
  	<if test="cityId != null">
  		AND city_id = #{cityId,jdbcType=INTEGER}
  	</if>
  	LIMIT 1
  </select>
  
  <!-- tx 18/4/25 -->
  <select id="listPriceCity" resultType="com.wm.lejia.common.pojo.vo.PriceCityVO" parameterType="com.wm.lejia.common.pojo.dto.SeaCityDTO">
  	SELECT c.city_id AS cityId,c.province_id AS provinceId,c.city_name AS cityName,m.manage_id AS manageId,m.nickname,
  	c.created_time AS createdTime,c.is_up AS isUp FROM city c 
	LEFT OUTER JOIN manage m ON m.manage_id = c.created_by
	WHERE 1=1 AND c.is_deleted = 0
  	<if test="cityName != null">
  		AND c.city_name = #{cityName,jdbcType=VARCHAR}
  	</if>
  	<if test="isDeleted != null">
  		AND c.is_deleted = #{isDeleted,jdbcType=INTEGER}
  	</if>
  	<if test="cityId != null">
  		AND c.city_id = #{cityId,jdbcType=INTEGER}
  	</if>
  	ORDER BY c.created_time DESC
  </select>
</mapper>