<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wm.lejia.db.mapper.HomeMapper" >
  <resultMap id="BaseResultMap" type="com.wm.lejia.common.pojo.entity.Home" >
    <id column="home_id" property="homeId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="province_id" property="provinceId" jdbcType="INTEGER" />
    <result column="city_id" property="cityId" jdbcType="INTEGER" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="area_num" property="areaNum" jdbcType="DOUBLE" />
    <result column="room_num" property="roomNum" jdbcType="INTEGER" />
    <result column="living_room_num" property="livingRoomNum" jdbcType="INTEGER" />
    <result column="restaurant_num" property="restaurantNum" jdbcType="INTEGER" />
    <result column="kitchen_num" property="kitchenNum" jdbcType="INTEGER" />
    <result column="toilet_num" property="toiletNum" jdbcType="INTEGER" />
    <result column="balcony_num" property="balconyNum" jdbcType="INTEGER" />
    <result column="remove_wall_num" property="removeWallNum" jdbcType="INTEGER" />
    <result column="add_wall_num" property="addWallNum" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    home_id, user_id, province_id, city_id, address, area_num, room_num, living_room_num, 
    restaurant_num, kitchen_num, toilet_num, balcony_num, remove_wall_num, add_wall_num
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from home
    where home_id = #{homeId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from home
    where home_id = #{homeId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wm.lejia.common.pojo.entity.Home" >
    insert into home (home_id, user_id, province_id, 
      city_id, address, area_num, 
      room_num, living_room_num, restaurant_num, 
      kitchen_num, toilet_num, balcony_num, 
      remove_wall_num, add_wall_num)
    values (#{homeId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{provinceId,jdbcType=INTEGER}, 
      #{cityId,jdbcType=INTEGER}, #{address,jdbcType=VARCHAR}, #{areaNum,jdbcType=DOUBLE}, 
      #{roomNum,jdbcType=INTEGER}, #{livingRoomNum,jdbcType=INTEGER}, #{restaurantNum,jdbcType=INTEGER}, 
      #{kitchenNum,jdbcType=INTEGER}, #{toiletNum,jdbcType=INTEGER}, #{balconyNum,jdbcType=INTEGER}, 
      #{removeWallNum,jdbcType=INTEGER}, #{addWallNum,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.wm.lejia.common.pojo.entity.Home" >
    <selectKey keyColumn="home_id" keyProperty="homeId" order="AFTER" resultType="java.lang.Integer">
  		SELECT LAST_INSERT_ID()
  	</selectKey>
    insert into home
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="homeId != null" >
        home_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="provinceId != null" >
        province_id,
      </if>
      <if test="cityId != null" >
        city_id,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="areaNum != null" >
        area_num,
      </if>
      <if test="roomNum != null" >
        room_num,
      </if>
      <if test="livingRoomNum != null" >
        living_room_num,
      </if>
      <if test="restaurantNum != null" >
        restaurant_num,
      </if>
      <if test="kitchenNum != null" >
        kitchen_num,
      </if>
      <if test="toiletNum != null" >
        toilet_num,
      </if>
      <if test="balconyNum != null" >
        balcony_num,
      </if>
      <if test="removeWallNum != null" >
        remove_wall_num,
      </if>
      <if test="addWallNum != null" >
        add_wall_num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="homeId != null" >
        #{homeId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="provinceId != null" >
        #{provinceId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null" >
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="areaNum != null" >
        #{areaNum,jdbcType=DOUBLE},
      </if>
      <if test="roomNum != null" >
        #{roomNum,jdbcType=INTEGER},
      </if>
      <if test="livingRoomNum != null" >
        #{livingRoomNum,jdbcType=INTEGER},
      </if>
      <if test="restaurantNum != null" >
        #{restaurantNum,jdbcType=INTEGER},
      </if>
      <if test="kitchenNum != null" >
        #{kitchenNum,jdbcType=INTEGER},
      </if>
      <if test="toiletNum != null" >
        #{toiletNum,jdbcType=INTEGER},
      </if>
      <if test="balconyNum != null" >
        #{balconyNum,jdbcType=INTEGER},
      </if>
      <if test="removeWallNum != null" >
        #{removeWallNum,jdbcType=INTEGER},
      </if>
      <if test="addWallNum != null" >
        #{addWallNum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wm.lejia.common.pojo.entity.Home" >
    update home
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="provinceId != null" >
        province_id = #{provinceId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null" >
        city_id = #{cityId,jdbcType=INTEGER},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="areaNum != null" >
        area_num = #{areaNum,jdbcType=DOUBLE},
      </if>
      <if test="roomNum != null" >
        room_num = #{roomNum,jdbcType=INTEGER},
      </if>
      <if test="livingRoomNum != null" >
        living_room_num = #{livingRoomNum,jdbcType=INTEGER},
      </if>
      <if test="restaurantNum != null" >
        restaurant_num = #{restaurantNum,jdbcType=INTEGER},
      </if>
      <if test="kitchenNum != null" >
        kitchen_num = #{kitchenNum,jdbcType=INTEGER},
      </if>
      <if test="toiletNum != null" >
        toilet_num = #{toiletNum,jdbcType=INTEGER},
      </if>
      <if test="balconyNum != null" >
        balcony_num = #{balconyNum,jdbcType=INTEGER},
      </if>
      <if test="removeWallNum != null" >
        remove_wall_num = #{removeWallNum,jdbcType=INTEGER},
      </if>
      <if test="addWallNum != null" >
        add_wall_num = #{addWallNum,jdbcType=INTEGER},
      </if>
    </set>
    where home_id = #{homeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wm.lejia.common.pojo.entity.Home" >
    update home
    set user_id = #{userId,jdbcType=INTEGER},
      province_id = #{provinceId,jdbcType=INTEGER},
      city_id = #{cityId,jdbcType=INTEGER},
      address = #{address,jdbcType=VARCHAR},
      area_num = #{areaNum,jdbcType=DOUBLE},
      room_num = #{roomNum,jdbcType=INTEGER},
      living_room_num = #{livingRoomNum,jdbcType=INTEGER},
      restaurant_num = #{restaurantNum,jdbcType=INTEGER},
      kitchen_num = #{kitchenNum,jdbcType=INTEGER},
      toilet_num = #{toiletNum,jdbcType=INTEGER},
      balcony_num = #{balconyNum,jdbcType=INTEGER},
      remove_wall_num = #{removeWallNum,jdbcType=INTEGER},
      add_wall_num = #{addWallNum,jdbcType=INTEGER}
    where home_id = #{homeId,jdbcType=INTEGER}
  </update>
</mapper>