<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wm.lejia.db.mapper.HomeDetailMapper" >
  <resultMap id="BaseResultMap" type="com.wm.lejia.pojo.entity.HomeDetail" >
    <id column="home_detail_id" property="homeDetailId" jdbcType="INTEGER" />
    <result column="home_id" property="homeId" jdbcType="INTEGER" />
    <result column="home_detail_type" property="homeDetailType" jdbcType="VARCHAR" />
    <result column="decoration_id" property="decorationId" jdbcType="INTEGER" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="created_by" property="createdBy" jdbcType="INTEGER" />
    <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
    <result column="updated_by" property="updatedBy" jdbcType="INTEGER" />
    <result column="is_deleted" property="isDeleted" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    home_detail_id, home_id, home_detail_type, decoration_id, created_time, created_by, 
    updated_time, updated_by, is_deleted
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from home_detail
    where home_detail_id = #{homeDetailId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from home_detail
    where home_detail_id = #{homeDetailId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wm.lejia.pojo.entity.HomeDetail" >
    insert into home_detail (home_detail_id, home_id, home_detail_type, 
      decoration_id, created_time, created_by, 
      updated_time, updated_by, is_deleted
      )
    values (#{homeDetailId,jdbcType=INTEGER}, #{homeId,jdbcType=INTEGER}, #{homeDetailType,jdbcType=VARCHAR}, 
      #{decorationId,jdbcType=INTEGER}, #{createdTime,jdbcType=TIMESTAMP}, #{createdBy,jdbcType=INTEGER}, 
      #{updatedTime,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=INTEGER}, #{isDeleted,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wm.lejia.pojo.entity.HomeDetail" >
    insert into home_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="homeDetailId != null" >
        home_detail_id,
      </if>
      <if test="homeId != null" >
        home_id,
      </if>
      <if test="homeDetailType != null" >
        home_detail_type,
      </if>
      <if test="decorationId != null" >
        decoration_id,
      </if>
      <if test="createdTime != null" >
        created_time,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="updatedTime != null" >
        updated_time,
      </if>
      <if test="updatedBy != null" >
        updated_by,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="homeDetailId != null" >
        #{homeDetailId,jdbcType=INTEGER},
      </if>
      <if test="homeId != null" >
        #{homeId,jdbcType=INTEGER},
      </if>
      <if test="homeDetailType != null" >
        #{homeDetailType,jdbcType=VARCHAR},
      </if>
      <if test="decorationId != null" >
        #{decorationId,jdbcType=INTEGER},
      </if>
      <if test="createdTime != null" >
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=INTEGER},
      </if>
      <if test="updatedTime != null" >
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        #{updatedBy,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wm.lejia.pojo.entity.HomeDetail" >
    update home_detail
    <set >
      <if test="homeId != null" >
        home_id = #{homeId,jdbcType=INTEGER},
      </if>
      <if test="homeDetailType != null" >
        home_detail_type = #{homeDetailType,jdbcType=VARCHAR},
      </if>
      <if test="decorationId != null" >
        decoration_id = #{decorationId,jdbcType=INTEGER},
      </if>
      <if test="createdTime != null" >
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null" >
        created_by = #{createdBy,jdbcType=INTEGER},
      </if>
      <if test="updatedTime != null" >
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        updated_by = #{updatedBy,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=INTEGER},
      </if>
    </set>
    where home_detail_id = #{homeDetailId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wm.lejia.pojo.entity.HomeDetail" >
    update home_detail
    set home_id = #{homeId,jdbcType=INTEGER},
      home_detail_type = #{homeDetailType,jdbcType=VARCHAR},
      decoration_id = #{decorationId,jdbcType=INTEGER},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      created_by = #{createdBy,jdbcType=INTEGER},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      updated_by = #{updatedBy,jdbcType=INTEGER},
      is_deleted = #{isDeleted,jdbcType=INTEGER}
    where home_detail_id = #{homeDetailId,jdbcType=INTEGER}
  </update>
</mapper>