<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wm.lejia.db.mapper.ProvinceMapper" >
  <resultMap id="BaseResultMap" type="com.wm.lejia.pojo.entity.Province" >
    <id column="province_id" property="provinceId" jdbcType="INTEGER" />
    <result column="province_name" property="provinceName" jdbcType="VARCHAR" />
    <result column="area" property="area" jdbcType="VARCHAR" />
    <result column="province_code" property="provinceCode" jdbcType="VARCHAR" />
    <result column="is_deleted" property="isDeleted" jdbcType="INTEGER" />
    <result column="is_up" property="isUp" jdbcType="INTEGER" />
    <result column="is_default" property="isDefault" jdbcType="INTEGER" />
    <result column="created_by" property="createdBy" jdbcType="INTEGER" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="updated_by" property="updatedBy" jdbcType="INTEGER" />
    <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    province_id, province_name, area, province_code, is_deleted, is_up, is_default, created_by, 
    created_time, updated_by, updated_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from province
    where province_id = #{provinceId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from province
    where province_id = #{provinceId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wm.lejia.pojo.entity.Province" >
    insert into province (province_id, province_name, area, 
      province_code, is_deleted, is_up, 
      is_default, created_by, created_time, 
      updated_by, updated_time)
    values (#{provinceId,jdbcType=INTEGER}, #{provinceName,jdbcType=VARCHAR}, #{area,jdbcType=VARCHAR}, 
      #{provinceCode,jdbcType=VARCHAR}, #{isDeleted,jdbcType=INTEGER}, #{isUp,jdbcType=INTEGER}, 
      #{isDefault,jdbcType=INTEGER}, #{createdBy,jdbcType=INTEGER}, #{createdTime,jdbcType=TIMESTAMP}, 
      #{updatedBy,jdbcType=INTEGER}, #{updatedTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.wm.lejia.pojo.entity.Province" >
  	<selectKey keyColumn="province_id" keyProperty="provinceId" order="AFTER" resultType="java.lang.Integer">
    	SELECT LAST_INSERT_ID()
    </selectKey>
    insert into province
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="provinceId != null" >
        province_id,
      </if>
      <if test="provinceName != null" >
        province_name,
      </if>
      <if test="area != null" >
        area,
      </if>
      <if test="provinceCode != null" >
        province_code,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="isUp != null" >
        is_up,
      </if>
      <if test="isDefault != null" >
        is_default,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="createdTime != null" >
        created_time,
      </if>
      <if test="updatedBy != null" >
        updated_by,
      </if>
      <if test="updatedTime != null" >
        updated_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="provinceId != null" >
        #{provinceId,jdbcType=INTEGER},
      </if>
      <if test="provinceName != null" >
        #{provinceName,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        #{area,jdbcType=VARCHAR},
      </if>
      <if test="provinceCode != null" >
        #{provinceCode,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="isUp != null" >
        #{isUp,jdbcType=INTEGER},
      </if>
      <if test="isDefault != null" >
        #{isDefault,jdbcType=INTEGER},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=INTEGER},
      </if>
      <if test="createdTime != null" >
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        #{updatedBy,jdbcType=INTEGER},
      </if>
      <if test="updatedTime != null" >
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wm.lejia.pojo.entity.Province" >
    update province
    <set >
      <if test="provinceName != null" >
        province_name = #{provinceName,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        area = #{area,jdbcType=VARCHAR},
      </if>
      <if test="provinceCode != null" >
        province_code = #{provinceCode,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="isUp != null" >
        is_up = #{isUp,jdbcType=INTEGER},
      </if>
      <if test="isDefault != null" >
        is_default = #{isDefault,jdbcType=INTEGER},
      </if>
      <if test="createdBy != null" >
        created_by = #{createdBy,jdbcType=INTEGER},
      </if>
      <if test="createdTime != null" >
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        updated_by = #{updatedBy,jdbcType=INTEGER},
      </if>
      <if test="updatedTime != null" >
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where province_id = #{provinceId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wm.lejia.pojo.entity.Province" >
    update province
    set province_name = #{provinceName,jdbcType=VARCHAR},
      area = #{area,jdbcType=VARCHAR},
      province_code = #{provinceCode,jdbcType=VARCHAR},
      is_deleted = #{isDeleted,jdbcType=INTEGER},
      is_up = #{isUp,jdbcType=INTEGER},
      is_default = #{isDefault,jdbcType=INTEGER},
      created_by = #{createdBy,jdbcType=INTEGER},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      updated_by = #{updatedBy,jdbcType=INTEGER},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP}
    where province_id = #{provinceId,jdbcType=INTEGER}
  </update>
  
  <!-- tx 18/4/20 -->
  <select id="getProvince" resultMap="BaseResultMap" parameterType="com.wm.lejia.pojo.entity.Province">
  	SELETC * FROM province 
  	WHERE 1=1 
  	<if test="provinceName != null">
  		AND province_name = #{provinceName,jdbcType=VARCHAR}
  	</if>
  	<if test="isDeleted != null">
  		AND is_deleted = #{isDeleted,jdbcType=INTEGER}
  	</if>
  	<if test="provinceId != null">
  		AND province_id = #{provinceId,jdbcType=INTEGER}
  	</if>
  	LIMIT 1
  </select>
</mapper>