<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wm.lejia.db.mapper.BannerUserMapper" >
  <resultMap id="BaseResultMap" type="com.wm.lejia.pojo.entity.BannerUser" >
    <id column="banner_user_id" property="bannerUserId" jdbcType="INTEGER" />
    <result column="banner_id" property="bannerId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="nickname" property="nickname" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="wechat_openid" property="wechatOpenid" jdbcType="VARCHAR" />
    <result column="city_id" property="cityId" jdbcType="INTEGER" />
    <result column="province_id" property="provinceId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    banner_user_id, banner_id, user_id, nickname, mobile, wechat_openid, city_id, province_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from banner_user
    where banner_user_id = #{bannerUserId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from banner_user
    where banner_user_id = #{bannerUserId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wm.lejia.pojo.entity.BannerUser" >
    insert into banner_user (banner_user_id, banner_id, user_id, 
      nickname, mobile, wechat_openid, 
      city_id, province_id)
    values (#{bannerUserId,jdbcType=INTEGER}, #{bannerId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{nickname,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, #{wechatOpenid,jdbcType=VARCHAR}, 
      #{cityId,jdbcType=INTEGER}, #{provinceId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.wm.lejia.pojo.entity.BannerUser" >
    insert into banner_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="bannerUserId != null" >
        banner_user_id,
      </if>
      <if test="bannerId != null" >
        banner_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="nickname != null" >
        nickname,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="wechatOpenid != null" >
        wechat_openid,
      </if>
      <if test="cityId != null" >
        city_id,
      </if>
      <if test="provinceId != null" >
        province_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="bannerUserId != null" >
        #{bannerUserId,jdbcType=INTEGER},
      </if>
      <if test="bannerId != null" >
        #{bannerId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="nickname != null" >
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="wechatOpenid != null" >
        #{wechatOpenid,jdbcType=VARCHAR},
      </if>
      <if test="cityId != null" >
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="provinceId != null" >
        #{provinceId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wm.lejia.pojo.entity.BannerUser" >
    update banner_user
    <set >
      <if test="bannerId != null" >
        banner_id = #{bannerId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="nickname != null" >
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="wechatOpenid != null" >
        wechat_openid = #{wechatOpenid,jdbcType=VARCHAR},
      </if>
      <if test="cityId != null" >
        city_id = #{cityId,jdbcType=INTEGER},
      </if>
      <if test="provinceId != null" >
        province_id = #{provinceId,jdbcType=INTEGER},
      </if>
    </set>
    where banner_user_id = #{bannerUserId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wm.lejia.pojo.entity.BannerUser" >
    update banner_user
    set banner_id = #{bannerId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      nickname = #{nickname,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      wechat_openid = #{wechatOpenid,jdbcType=VARCHAR},
      city_id = #{cityId,jdbcType=INTEGER},
      province_id = #{provinceId,jdbcType=INTEGER}
    where banner_user_id = #{bannerUserId,jdbcType=INTEGER}
  </update>
</mapper>