<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wm.lejia.db.mapper.BannerMapper" >
  <resultMap id="BaseResultMap" type="com.wm.lejia.pojo.entity.Banner" >
    <id column="banner_id" property="bannerId" jdbcType="INTEGER" />
    <result column="banner_title" property="bannerTitle" jdbcType="VARCHAR" />
    <result column="banner_img" property="bannerImg" jdbcType="VARCHAR" />
    <result column="idx" property="idx" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="CHAR" />
    <result column="province_id" property="provinceId" jdbcType="INTEGER" />
    <result column="city_id" property="cityId" jdbcType="INTEGER" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="created_by" property="createdBy" jdbcType="INTEGER" />
    <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
    <result column="updated_by" property="updatedBy" jdbcType="INTEGER" />
    <result column="is_deleted" property="isDeleted" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.wm.lejia.pojo.entity.Banner" extends="BaseResultMap" >
    <result column="banner_detail" property="bannerDetail" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    banner_id, banner_title, banner_img, idx, type, province_id, city_id, created_time, 
    created_by, updated_time, updated_by, is_deleted
  </sql>
  <sql id="Blob_Column_List" >
    banner_detail
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from banner
    where banner_id = #{bannerId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from banner
    where banner_id = #{bannerId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wm.lejia.pojo.entity.Banner" >
    insert into banner (banner_id, banner_title, banner_img, 
      idx, type, province_id, 
      city_id, created_time, created_by, 
      updated_time, updated_by, is_deleted, 
      banner_detail)
    values (#{bannerId,jdbcType=INTEGER}, #{bannerTitle,jdbcType=VARCHAR}, #{bannerImg,jdbcType=VARCHAR}, 
      #{idx,jdbcType=INTEGER}, #{type,jdbcType=CHAR}, #{provinceId,jdbcType=INTEGER}, 
      #{cityId,jdbcType=INTEGER}, #{createdTime,jdbcType=TIMESTAMP}, #{createdBy,jdbcType=INTEGER}, 
      #{updatedTime,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=INTEGER}, #{isDeleted,jdbcType=INTEGER}, 
      #{bannerDetail,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wm.lejia.pojo.entity.Banner" >
    insert into banner
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="bannerId != null" >
        banner_id,
      </if>
      <if test="bannerTitle != null" >
        banner_title,
      </if>
      <if test="bannerImg != null" >
        banner_img,
      </if>
      <if test="idx != null" >
        idx,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="provinceId != null" >
        province_id,
      </if>
      <if test="cityId != null" >
        city_id,
      </if>
      <if test="createdTime != null" >
        created_time,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="updatedTime != null" >
        updated_time,
      </if>
      <if test="updatedBy != null" >
        updated_by,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="bannerDetail != null" >
        banner_detail,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="bannerId != null" >
        #{bannerId,jdbcType=INTEGER},
      </if>
      <if test="bannerTitle != null" >
        #{bannerTitle,jdbcType=VARCHAR},
      </if>
      <if test="bannerImg != null" >
        #{bannerImg,jdbcType=VARCHAR},
      </if>
      <if test="idx != null" >
        #{idx,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=CHAR},
      </if>
      <if test="provinceId != null" >
        #{provinceId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null" >
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="createdTime != null" >
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=INTEGER},
      </if>
      <if test="updatedTime != null" >
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        #{updatedBy,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="bannerDetail != null" >
        #{bannerDetail,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wm.lejia.pojo.entity.Banner" >
    update banner
    <set >
      <if test="bannerTitle != null" >
        banner_title = #{bannerTitle,jdbcType=VARCHAR},
      </if>
      <if test="bannerImg != null" >
        banner_img = #{bannerImg,jdbcType=VARCHAR},
      </if>
      <if test="idx != null" >
        idx = #{idx,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=CHAR},
      </if>
      <if test="provinceId != null" >
        province_id = #{provinceId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null" >
        city_id = #{cityId,jdbcType=INTEGER},
      </if>
      <if test="createdTime != null" >
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null" >
        created_by = #{createdBy,jdbcType=INTEGER},
      </if>
      <if test="updatedTime != null" >
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        updated_by = #{updatedBy,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="bannerDetail != null" >
        banner_detail = #{bannerDetail,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where banner_id = #{bannerId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.wm.lejia.pojo.entity.Banner" >
    update banner
    set banner_title = #{bannerTitle,jdbcType=VARCHAR},
      banner_img = #{bannerImg,jdbcType=VARCHAR},
      idx = #{idx,jdbcType=INTEGER},
      type = #{type,jdbcType=CHAR},
      province_id = #{provinceId,jdbcType=INTEGER},
      city_id = #{cityId,jdbcType=INTEGER},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      created_by = #{createdBy,jdbcType=INTEGER},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      updated_by = #{updatedBy,jdbcType=INTEGER},
      is_deleted = #{isDeleted,jdbcType=INTEGER},
      banner_detail = #{bannerDetail,jdbcType=LONGVARCHAR}
    where banner_id = #{bannerId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wm.lejia.pojo.entity.Banner" >
    update banner
    set banner_title = #{bannerTitle,jdbcType=VARCHAR},
      banner_img = #{bannerImg,jdbcType=VARCHAR},
      idx = #{idx,jdbcType=INTEGER},
      type = #{type,jdbcType=CHAR},
      province_id = #{provinceId,jdbcType=INTEGER},
      city_id = #{cityId,jdbcType=INTEGER},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      created_by = #{createdBy,jdbcType=INTEGER},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      updated_by = #{updatedBy,jdbcType=INTEGER},
      is_deleted = #{isDeleted,jdbcType=INTEGER}
    where banner_id = #{bannerId,jdbcType=INTEGER}
  </update>
</mapper>