<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wm.lejia.db.mapper.DefProvinceMapper" >
  <resultMap id="BaseResultMap" type="com.wm.lejia.pojo.entity.DefProvince" >
    <id column="def_province_id" property="defProvinceId" jdbcType="INTEGER" />
    <result column="def_province_name" property="defProvinceName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    def_province_id, def_province_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from def_province
    where def_province_id = #{defProvinceId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from def_province
    where def_province_id = #{defProvinceId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wm.lejia.pojo.entity.DefProvince" >
    insert into def_province (def_province_id, def_province_name)
    values (#{defProvinceId,jdbcType=INTEGER}, #{defProvinceName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wm.lejia.pojo.entity.DefProvince" >
    insert into def_province
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="defProvinceId != null" >
        def_province_id,
      </if>
      <if test="defProvinceName != null" >
        def_province_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="defProvinceId != null" >
        #{defProvinceId,jdbcType=INTEGER},
      </if>
      <if test="defProvinceName != null" >
        #{defProvinceName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wm.lejia.pojo.entity.DefProvince" >
    update def_province
    <set >
      <if test="defProvinceName != null" >
        def_province_name = #{defProvinceName,jdbcType=VARCHAR},
      </if>
    </set>
    where def_province_id = #{defProvinceId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wm.lejia.pojo.entity.DefProvince" >
    update def_province
    set def_province_name = #{defProvinceName,jdbcType=VARCHAR}
    where def_province_id = #{defProvinceId,jdbcType=INTEGER}
  </update>
</mapper>